<footer>
  
    <div>
    <picture>
                <source type="image/webp" srcset="images/footer_logo.webp">
               <img alt="Surepoint Financial Group" src="images/footer_logo.png"/>
           </picture>
       </div>
    <span id="footertext"> Surepoint Financial Group  &copy; @DateTime.Now.Year.ToString(). All Rights Reserved.</span>
</footer>

<style asp-add-nonce="true">
span#footertext {

}
    footer {
        background-color: #FFFFFF;
        border-top: 8px solid #2B7AB9;
        color: black;
        text-align: center;
        padding: 10px;
        font-size: 12px;
    }
</style>