<div class="main-parent">
   
</div>
<style asp-add-nonce="true">
   @@media only screen and (min-width: 615px)
    {
      .main-parent {
           background: #6AA33E;
          text-align: left;
          color: #000;
          font-size: 1.5em;
          padding: 350px;
          padding-top: 0;
          margin-top: 13px;
          position: relative;
          padding-left: 22.3%;
          
      }
    .customer-footer {
        height:  350px;
    }
     .main-subheading {
         color: #000;
         font-size: .9em;
         font-weight: bold;
         z-index: 3;
         position: relative;
         top: 20px;
         left: 4px;
     }
      .main-great {
       /*   font-size: 3em;
          font-weight: bold;
          background-color: #fff;
          margin-top: .7em;
          padding-top: .7em;
          z-index: 2;
          position: relative;
          top: 77px;
          width: 81.2%;*/
          
      }
  }
  @@media only screen and (min-width: 615px){
.main-great {
    font-size: 2.5em;
    font-weight: bold;
    background-color: #fff;
    margin-top: .7em;
    padding-top: .5em;
    z-index: 2;
    position: relative;
    top: 68px;
    width: 81.2%;
    padding-left: 0 !important;
    
}
p.main-subheading {
    padding-left: 0 !important;
}

}

.main-great {
    font-size: 2.5em;
    font-weight: bold;  
    padding-left: 18px;
    z-index: 2;
}
p.main-subheading {
    padding-left: 18px;
}


</style>