@{
    ViewData["Title"] = "Home Page";
}

<div>
    @await Html.PartialAsync("Partials/_ApprovalCode")
    @await Html.PartialAsync("Partials/_FeatureGrid")
    @await Html.PartialAsync("Partials/_Footer")
  
</div>