<div class="phone-box">
    <p><b>Questions?</b> Call <a href="tel:1-888-874-0477"><nobr>1-888-874-0477</nobr></a> today.</p>
</div>
<footer class="d-flex">
    <div class="container d-flex">    
    <div class="inner d-flex flex-md-row flex-column align-items-center align-items-md-start">
        <div class="col-12 col-md-3 d-flex flex-column">
            <div class="">
                <picture>
                    <source type="image/webp" srcset="/images/logo.webp">
                    <img alt="Overland Financial Group" src="~/images/logo.png">
                </picture>
                <p class="number">
                        <a style="text-decoration: none !important;" href="tel:1-888-874-0477">
                    <span>
                        <img class="phone" alt="phone icon" src="images/cell-icon.png" width="17" height="27"/>
                    </span><nobr>1-888-874-0477</nobr>
                </a></p>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <p>
                &copy;  @DateTime.Now.Year Overland Funding. All Rights Reserved.
            </p>
            <p>
                <a href="https://www.overlandfunding.com/privacy-policy/">Privacy Policy</a>
            </p>
            <div class="legalese">
                <p> *Overland Funding, LLC is a California-licensed lender under the California Department of Financial Institutions. This offer is an estimate and loan amounts range between $5,000 and $100,000. The actual amount will be based on your current credit report. Loans may be brokered. APR will range between 5.99% and 24% depending on state. Not all applicants will qualify for 5.99% APR. To qualify you must show proof of income, retirement, or other savings.</p>
                <p>Unsecured personal loan amounts vary to a maximum of $100,000, but not all lenders provide up to $100,000. Overland Funding, LLC does not guarantee that you will be approved for any type of loan and the interest rate or APR will vary depending on the lender’s terms. This offer is subject to the expiration date listed on the front page of your offer letter. By responding to this offer, you are authorizing us to make inquiries and obtain information about you as we deem appropriate for the purpose of evaluating you for this extension of credit, including but not limited to: credit reports and income verification. </p>
                <p>Terms and Conditions: To receive a loan, you must be a U.S. citizen or permanent resident, currently reside in the U.S., and be at least 18 years old. Overland Funding, LLC is not responsible for errors made by any credit reporting agency. Not available in every state and loans may be brokered.</p>
            </div>
        </div>
    </div>
    </div>
</footer>

<style asp-add-nonce="true">
.phone-box {
    background: #6E6E6E;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 87px;
}
.phone-box b {
    font-weight: bold;
}
.phone-box p {
    color:  white;
    font-size: 28px;
    padding: 10px;
}
footer {
    background: #F3F3F3;
    padding:  25px;
    padding-top: 60px;
  font-family: 'Montserrat';
}
footer .inner {
    background: #F3F3F3;
     margin: 0 auto;
}
footer img {
    width: 128px;
}
footer .number {
    font-size: 22px;
}
.number a {
    text-decoration: none;
}
footer a {
    color: black;
}
footer .phone {
    width:  16px;
}
.margin-auto {
    margin: 0 auto;
}
@@media only screen  and (max-width: 500px) {
    footer .inner {
    text-align: center;
    }
}
</style>