
<div class="angry-grid-header">
    <div class="name-0">
        <img class="m" alt="" src="/images/icons/a.png"/>
        <div jstcache="54" class="BFHjQc" jsan="7.BFHjQc">Arman Khorshidian</div>
    </div>
    <div class="star-1">
        <div class="GHT2ce">
            <div class="DU9Pgb">
               <span class="kvMYJc" role="img" aria-label="5 stars">
                    <img alt="" class="hCCjke vzX5Ic" src="/images/icons/5star.png">
                </span>
            </div>
        </div>
    </div>
    <p class="MyEned" tabindex="-1" id="ChZDSUhNMG9nS0VJQ0FnSUNWX0xyQVNREAE" lang="en">
        <span class="wiI7pd">
            <b>Prospifi was great in helping me get…</b> <br/>
            Prospifi was great in helping me get the loan I needed. They walked me through the approval process and went over all the options I qualify for. They made sure all my information was confidential and secure. They also got me the loan I needed. I can tell they were looking out for me and not just selling me a loan.
        </span><br/>
        <a href="https://www.trustpilot.com/review/consolifiusa.com"><img id="trustpilot" alt="" src="images/icons/trustpilot.png"/></a>
    </p>
  
</div>