<div class="main-parent">
    <p class="main-great">Congratulations, You’re Pre-Approved!</p>
    <div>
        <div class="hero-card card d-flex">
            <div>
                <h1>Welcome! Claim your pre-approved offer now.</h1>
                <h3>Check your loan options with no impact to your credit score.</h3>
            </div>
        </div>
    </div>
    
</div>

<style asp-add-nonce="true">
  .features-grid {
      display: flex;
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      background-color: #F8F8F8;
      padding-bottom: 20px;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
  }
   .main-parent {
       text-align: center;
       background-color: #EBEBEB;
   }
   .main-parent img {
       height: 175px;
       width: 175px;
       position: relative;
       top: -119px;
      /* -webkit-box-shadow: 0 30px 40px -38px rgba(0, 0, 0, 1);
       -moz-box-shadow:    0 30px 40px -38px rgba(0, 0, 0, 1);
       box-shadow:         0 30px 40px -38px rgba(0, 0, 0, 1);*/
   }
.main-parent div {
    background: #2B7AB9;
    text-align: center;
    color: #fff;
    font-size: 2em;
    padding: 129px;
    padding-top: 0;
}
   .main-great {
       font-size: 3em;
       font-weight: bold;
       color: #fff;
       margin: 0;
       margin-top: 13px;
       padding-top: .7em;
       background: #2B7AB9;
   }
.main-subtitle {
    margin-top: 0;
    margin-bottom: 0;
}
    .main-subhead {
        margin: 0;
        font-size: 0.9em;
    }
    .main-subhead a {
        color: white;
        text-decoration: none;
    }
     .main-great-br{
        display: none;
       }
    @@media only screen  and (max-width: 500px) {
   .main-great {
       font-size: 2.6em;
       font-weight: bold;
       background-color: #2B7AB9;
       color: #fff;
       margin: 0;
       margin-top: 0;
       padding-top: 0;
   }
     .main-subtitle {
           margin-top: 0;
            font-size: 0.7em;
       }    
       .main-subhead {
           margin: 0;
           font-size: 0.6em;
       }
   .main-great-br{
    display: block;
   }
.main-parent div {
   background-color: #2B7AB9;
    text-align: center;
    color: #fff;
    font-size: 1.6em;
    padding: 89px;
    padding-top: 0;
    padding-bottom: 130px;
}

    
    }
</style>