
<div class="angry-grid-header">
    <div class="name-1">
        <img class="m" alt="" src="/images/icons/m.png"/>
        <div jstcache="54" class="BFHjQc" jsan="7.BFHjQc">Mister Doops</div>
    </div>
    <div class="star-1">
        <div class="GHT2ce">
            <div class="DU9Pgb">
                <span class="kvMYJc" role="img" aria-label="5 stars">
                    <img alt="" class="hCCjke vzX5Ic" src="/images/icons/5star.png">
                </span>
            </div>
        </div>
    </div>
    <p class="MyEned" tabindex="-1" id="ChZDSUhNMG9nS0VJQ0FnSUNWX0xyQVNREAE" lang="en">
        <span class="wiI7pd">
            <b>Had a really good experience in using Prospifi.</b> <br/>
            Hopefully, this reaches out to more people so they can get helped by them as well!
        </span><br/>
        <a href="https://g.co/kgs/z41JeA"><img id="googlereview" alt="" src="images/icons/googlereview.png"/></a>
    </p>
</div>