<footer class="d-flex text-center">
    <div class="container d-flex">    
        <div class="col-12">
            <p>
                &copy; @DateTime.Now.Year Overland Funding. All Rights Reserved.
            </p>
            <p>
                <a href="https://www.overlandfunding.com/privacy-policy/">Privacy Policy</a>
            </p>
        </div>
    </div>
</footer>

<style asp-add-nonce="true">

footer {
    background: #F3F3F3;
    padding:  25px;
    padding-top: 60px;
  font-family: 'Montserrat';
  color:  black;
}
footer a {
    color: black;
}
</style>