

<div class="main-parent">
    <p class="main-great text-center">Please Verify Your Information</p>
    <!--<p id="main-link" class="main-subheading"><a href="tel:8003350785">Or click to talk with a Consultant now.</a></p>!-->
    <b> <p class="main-subheading text-center">Review your information, complete any blank fields and click Verify.</p></b>
</div>
<style asp-add-nonce="true">
   @@media only screen and (min-width: 932px)
    {
       .main-parent {
           background: #6AA33E;
           text-align: center;
           color: #000;
           font-size: 1.4em;
           padding: 129px;
           padding-top: 0;
           top: -49px;
           position: relative;
           padding-left: 22.3%;
       }
     .main-subheading {
         color: #000;
         font-size: .9em;
         /*font-weight: bold;*/
         z-index: 3;
         position: relative;
         top: 20px;
         margin-top: 50px;
         left: 4px;
         width:  81.2%;
         font-weight: 300;
         font-family: 'Montserrat';
     }
      .main-great {
      text-align: left;
       /*   font-size: 3em;
          font-weight: bold;
          background-color: #fff;
          margin-top: .7em;
          padding-top: .7em;
          z-index: 2;
          position: relative;
          top: 77px;
          width: 81.2%;*/
      }
  }
  @@media only screen and (min-width: 932px){
.main-great {
    font-size: 2em;
    font-weight: bold;
    background-color: #fff;
    margin-top: 0.7em;
    padding-top: .2em;
    z-index: 2;
    position: relative;
    top: 65px;
    width: 81.2%;
    padding-left: 0!important;
    font-family: 'Source Sans Pro', sans-serif;
    
}
p.main-subheading {
    padding-left: 0 !important;
}

}

.main-great {
    font-size: 2em;
    font-weight: bold;
    padding-left: 14px!important;
    z-index: 2;
    font-family: 'Source Sans Pro', sans-serif;
    
}
p.main-subheading {
    padding-left: 14px !important;
}

p#main-link {
    font-size: 17px;
    color: #0057A5;
    text-decoration: underline;
    cursor: pointer;
}


</style>